@*Crear el modelo y el controlador del View Model**@

@model List<Soporte.Models.ViewModels.TablaComputadorasViewModel>

@{
    ViewBag.Title = "Index";
}
<h2>@ViewBag.Title.</h2>
<h3>@ViewBag.Message</h3>

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1" ; style="height:40%">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>


    @Styles.Render("~/Content/plugins/DataTables")


</head>

<body>
    @*Aca se crea la tabla, primero encabezados, luego un foreach que recorre los datos*@
    @*Container -> Row -> tabla o datos dentro*@
    <div class="container-fluid">
        <div class="row">
            <a href="~/Tabla/NuevaComputadora" class="btn btn-primary"> Nueva Computadora </a>
        </div>

        <div class="row">
            <p> Listado de computadoras al momento: </p>

            <table id="example" class="table table-striped table-bordered" style="width:100%">
                <thead>
                    <tr>
                        <th>ST</th>
                        <th>Nro Serie</th>
                        <th>Equipo</th>
                        <th>Lugar</th>
                        <th>Sector</th>
                        <th>Nro Telefono</th>
                        <th>ST Monitor</th>
                        <th>Nro Serie Monitor</th>
                        <th>Sistema Operativo</th>
                        <th>Memoria Ram</th>
                        <th>Procesador</th>
                        <th>Observaciones</th>
                        <th></th>
                    </tr>
                </thead>

                <tbody>
                    @*Foreach donde recorre posicion por posicion y trae los valores cargados de la tabla*@
                    @foreach (var oElemento in Model)
                    {
                        <tr>
                            <td>@oElemento.ST</td>
                            <td>@oElemento.numerSerie</td>
                            <td>@oElemento.Equipo</td>
                            <td>@oElemento.Lugar</td>
                            <td>@oElemento.Sector</td>
                            <td>@oElemento.Telefono</td>
                            <td>@oElemento.stMonitor</td>
                            <td>@oElemento.nroSerieMonitor</td>
                            <td>@oElemento.sistemaOperativo</td>
                            <td>@oElemento.memoriaRam</td>
                            <td>@oElemento.Procesador</td>
                            <td>@oElemento.Observaciones</td>
                            <td>
                                <a class="btn btn-default" href="~/Tabla/EditarComputadora/@oElemento.IDcomputadora">Editar</a>
                                <a class="btn btn-danger" href="~/Tabla/EliminarComputadora/@oElemento.IDcomputadora">Eliminar</a>
                            </td>
                        </tr>
                    }
                </tbody>

                <tfoot>
                    <tr>
                        <th>ST</th>
                        <th>Nro Serie</th>
                        <th>Equipo</th>
                        <th>Lugar</th>
                        <th>Sector</th>
                        <th>Nro Telefono</th>
                        <th>ST Monitor</th>
                        <th>Nro Serie Monitor</th>
                        <th>Sistema Operativo</th>
                        <th>Memoria Ram</th>
                        <th>Procesador</th>
                        <th>Observaciones</th>
                    </tr>
                </tfoot>
            </table>

        </div>
    </div>


</body>
</html>

@section Scripts {


    @Scripts.Render("~/plugins/dataTables")

    <script type="text/javascript">
      $(document).ready(function () {
            $('#table_id').DataTable();
        });
    </script>

    }